<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Notes</title>

    <style>
      .htmx-swapping {
        opacity: 0;
        transition: opacity 1s ease-out;
      }
    </style>
  </head>

  <body class="bg-sky-500">
    <nav
      class="flex items-center justify-between px-4 py-6 text-center bg-gradient-to-r from-cyan-500 to-sky-500"
    >
      <a href="/" class="text-2xl text-white">NOTE</a>
    </nav>

    <div class="w-4/5 my-6 mx-auto p-2 lg:p-10 bg-white rounded-xl" id="main">
      <form
        class="flex mb-6 space-x-4"
        hx-post="{% url 'note:add_note' %}"
        hx-target="#notes"
        hx-swap="afterend"
      >
        <input
          list="notetype"
          name="notetype"
          class="note flex-1 px-4 py-3 bg-gray-200 rounded-xl"
          placeholder="Note Type"
        />
        <input
          type="text"
          name="notekey"
          class="title flex-1 px-4 py-3 bg-gray-200 rounded-xl"
          placeholder="Note #"
        />
        <datalist id="notetype">
          <option value="Purchase Order"/>
          <option value="Sales"/>
          <option value="Customer Order"/>
        </datalist>
        <button class="p-3 rounded-xl text-white bg-cyan-500 hover:bg-cyan-600">
          +
        </button>
      </form>

      <div class="flex py-3 rounded-xl bg-gray-100">
        <div class="w-4/5">
          <p class="px-6 text-xs font-medium text-gray-500 uppercase">Title</p>
        </div>

        <div class="hidden md:block w-1/5 px-6 text-right">
          <p class="text-xs font-medium text-gray-500 uppercase">Actions</p>
        </div>
      </div>

      <div class="divide-y divide-gray-200" id="notes">
        {% for note in notes %} {% include 'note/partials/note.html' %} 
        {% endfor %}
      </div>
    </div>
  </body>

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  <script>
    document.body.addEventListener("htmx:configRequest", (event) => {
      event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
    });

    document.body.addEventListener("htmx:afterRequest", (event) => {
      document.querySelector("input.title").value = "";
    });
  </script>
</html>
